.App {
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.App::before {
  content: "";
  background-image: url(../images/keyboard.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
