@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

#navbar {
  gap: 40px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: x-large;
  position: relative;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: underline;
  margin-right: 1rem;
}

.header-button {
  font-size: 20px;
}

.resume-link {
  color: #000;
}

.resume-link:hover {
  text-decoration: none;
  margin-right: 0px;
}
