@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

.homepage-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  position: relative;
  color: #fff;
  text-align: center;
  margin-top: 8%;
  font-size: 7rem;
}

.homepage-subtitle {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  position: relative;
  color: #fff;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: solid 2px #fff;
  padding-bottom: 40px;
}

.homepage-socials {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 35px;
}

svg {
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .homepage-title {
    font-size: 5rem;
    margin-top: 4%;
  }

  .homepage-subtitle {
    font-size: 15px;
  }
}

@media (max-width: 390px) {
  .homepage-title {
    font-size: 35px;
    margin-top: 50%;
  }

  /* .homepage-subtitle {
    font-size: 9px;
    padding-bottom: 20px;
  }

  svg {
    height: 30px;
    width: 40px;
  }  */
}
