@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap");

.project-cards {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  width: 40%;
  border: solid 2px #000;
  margin-right: 150px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.project-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-title {
  position: relative;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  color: #fff;
  flex: auto;
  margin-left: 150px;
}
